            <main id="main" class="site-main">
                <div class="site-content pt0">
                    <section class="section opt120">
                        <div class="container h100">
                            <div class="row flex-align-c h100">
                                <div class="col-lg-6">
                                    <div class="heading mg0 pdr80">
                                        <div class="heading-sub">İletişim</div>
                                        <h2 class="heading-title size-xl">Bize Ulaşın!</h2>
                                        <div class="heading-desc">Merak ettiklerinizi bizlere sorun. İletişime geçerek avantajlı tekliflerden yararlanın.</div>
                                        <ul class="list">
                                            <li>Tel. +90-(533)-3268607</li>
                                            <li>Email. info@maviarge.com</li>
                                        </ul>
                                        <div class="socials">
                                            <a href="#" title="facebook"><i class="lab la-facebook-f"></i></a>
                                            <a href="#" title="twitter"><i class="lab la-twitter"></i></a>
                                            <a href="#" title="instagram"><i class="lab la-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="lg-mt32 align-center">
                                        <img src="/public/images/contact-01.svg" alt="Banner">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section spdt">
                        <div class="container">
                            <div class="heading align-center">
                                <div class="heading-sub">Ofisimizi Ziyaret Edin</div>
                                <h2 class="heading-title size-l">Bizi ziyaret edin <br> detaylı bilgi alın.</h2>
                            </div>
                            <div class="block-icon-box layout-04">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="icon-box p48">
                                            <div class="inner">
                                                <div class="content">
                                                    <h3 class="title">ANTALYA</h3>
                                                    <div class="desc">Antalya Teknokent Ar-Ge 2 Binası Konyaaltı</div>
                                                    <span class="tel">+90-(533)-3268607</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section spdt align-center">
                        <div class="block-trial layout-01">
                            <div class="container">
                                <img class="image-top" src="/public/images/macaroni-vertical.webp" alt="Trial">
                                <div class="sub">Bizimle İletişime Geçin</div>
                                <h2 class="title mb-3">Şimdi Mesaj Gönder</h2>
                                <form action="">
                                    <div class="row mt-3">
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Adınız">
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Soyadınız">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="E-Posta Adresiniz">
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Telefon Numaranız">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="form-group">
                                            <textarea class="form-control" name="message" id="" cols="5" rows="5" placeholder="Mesajınız"></textarea>
                                        </div>
                                    </div>
                                    <div class="button-wrap"><a href="#" class="button fullfield" title="Send a message">Mesaj Gönder</a></div>

                                </form>
                            </div>
                        </div>
                    </section>
                </div><!-- SITE CONTENT -->
            </main>