      <!-- Breadcrumb area stat -->
      <div class="breadcrumb__area">
         <img class="breadcrumb__shape-1" src="/public/img/shape/breadcrum-1.png.png" alt="image not found">
         <img class="breadcrumb__shape-2" src="/public/img/shape/breadcrum-1.png.png" alt="image not found">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="breadcrumb__wrapper text-center">
                     <div class="breadcrumb__title">
                        <h2>İletişim</h2>
                     </div>
                     <div class="breadcrumb__menu">
                        <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                           <ul class="trail-items">
                              <li class="trail-item trail-begin"><span><a href="/">Anasayfa</a></span></li>
                              <li class="trail-item trail-end"><span>İletişim</span></li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Breadcrumb area end -->

      <!-- Touch area start -->
      <section class="touch__arae touch-bg include__bg pt-120 pb-120" data-background="/public/img/shape/touch-shape.png">
         <div class="container">
            <div class="row">
               <div class="col-xl-4 col-lg-4">
                  <div class="touch__left mb-60">
                     <div class="section__title-wrapper">
                        <span class="section__subtitle s-2">
                           <span>Mavi </span>Charge
                        </span>
                        <h2 class="section__title s-2 mb-30">
                           <span class="down__mark-line">Bizimle</span> Konuşun
                        </h2>
                     </div>
                     <p>Detaylı Bilgi Almak İçin İletişime Geçin</p>
                     <div class="touch__search">
                        <form action="#">
                           <input type="text" placeholder="Mail Adresi">
                           <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="11.83" height="20.026" viewBox="0 0 11.83 20.026">
                              <path id="Path_17020" data-name="Path 17020" d="M-3925.578,5558.542l7.623,8.242-7.623,7.543" transform="translate(3927.699 -5556.422)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="3"></path>
                            </svg>
                            </button>
                        </form>
                     </div>
                     <div class="touch__social">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                     </div>
                  </div>
               </div>
               <div class="col-xl-8 col-lg-8">
                  <div class="touch__contact p-relative">
                     <div class="touch__carcle"></div>
                     <div class="touch__content-title">
                        <h3>İletişim</h3>
                     </div>
                     <form action="#">
                        <div class="row">
                           <div class="col-lg-6">
                              <div class="touch__input">
                                 <input type="text" placeholder="Adınız">
                              </div>
                           </div>
                           <div class="col-lg-6">
                              <div class="touch__input">
                                 <input type="text" placeholder="Soyadınız">
                              </div>
                           </div>
                           <div class="col-lg-6">
                              <div class="touch__input">
                                 <input type="text" placeholder="Telefon Numarası">
                              </div>
                           </div>
                           <div class="col-lg-6">
                              <div class="touch__input">
                                 <input type="text" placeholder="Mail Adresi">
                              </div>
                           </div>
                           <div class="col-lg-12">
                              <div class="contact__select mb-20">
                                <textarea name="message" id="" class="form-control" cols="30" rows="10"></textarea>
                              </div>
                           </div>
                           <div class="col-12">
                              <div class="touch__submit">
                                 <div class="touch__btn">
                                    <button type="button"></button>
                                    <a class="border__btn" href="#">Gönder</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
        </section>
      <!-- Touch area end -->

      <!-- Google map start -->
      <div class="google__map-area">
       <div class="mapouter"><div class="gmap_canvas">
        <iframe src="https://maps.google.com/maps?q=Antalya%20Teknokent%20Ar-Ge%202%20Binas%C4%B1%20Konyaalt%C4%B1/ANTALYA&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" id="gmap_canvas" frameborder="0" scrolling="no"></iframe>
         </div>
      <!-- Google map end -->