<section class="section has-shape background-yellow opt200 opb200 relative overflow-hidden">
  <div class="container">
    <div class="row flex-align-c">
      <div class="col-lg-6">
        <div class="spdtb pdr50">
          <div class="heading heading-alway-dark mb32">
            <div class="heading-sub">maviCharge</div>
            <h2 class="heading-title size-xl">Şarj istasyonlarına ulaşmanın premium yolu..</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="images layout-10 lg-mt60">
          <img src="/public/images/header.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <div class="shape-bottom h50">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 27.8" preserveAspectRatio="none">
      <path fill="var(--sala-neutral-white)"
        d="M283.5,9.7c0,0-7.3,4.3-14,4.6c-6.8,0.3-12.6,0-20.9-1.5c-11.3-2-33.1-10.1-44.7-5.7	s-12.1,4.6-18,7.4c-6.6,3.2-20,9.6-36.6,9.3C131.6,23.5,99.5,7.2,86.3,8c-1.4,0.1-6.6,0.8-10.5,2c-3.8,1.2-9.4,3.8-17,4.7	c-3.2,0.4-8.3,1.1-14.2,0.9c-1.5-0.1-6.3-0.4-12-1.6c-5.7-1.2-11-3.1-15.8-3.7C6.5,9.2,0,10.8,0,10.8V0h283.5V9.7z M260.8,11.3	c-0.7-1-2-0.4-4.3-0.4c-2.3,0-6.1-1.2-5.8-1.1c0.3,0.1,3.1,1.5,6,1.9C259.7,12.2,261.4,12.3,260.8,11.3z M242.4,8.6	c0,0-2.4-0.2-5.6-0.9c-3.2-0.8-10.3-2.8-15.1-3.5c-8.2-1.1-15.8,0-15.1,0.1c0.8,0.1,9.6-0.6,17.6,1.1c3.3,0.7,9.3,2.2,12.4,2.7	C239.9,8.7,242.4,8.6,242.4,8.6z M185.2,8.5c1.7-0.7-13.3,4.7-18.5,6.1c-2.1,0.6-6.2,1.6-10,2c-3.9,0.4-8.9,0.4-8.8,0.5	c0,0.2,5.8,0.8,11.2,0c5.4-0.8,5.2-1.1,7.6-1.6C170.5,14.7,183.5,9.2,185.2,8.5z M199.1,6.9c0.2,0-0.8-0.4-4.8,1.1	c-4,1.5-6.7,3.5-6.9,3.7c-0.2,0.1,3.5-1.8,6.6-3C197,7.5,199,6.9,199.1,6.9z M283,6c-0.1,0.1-1.9,1.1-4.8,2.5s-6.9,2.8-6.7,2.7	c0.2,0,3.5-0.6,7.4-2.5C282.8,6.8,283.1,5.9,283,6z M31.3,11.6c0.1-0.2-1.9-0.2-4.5-1.2s-5.4-1.6-7.8-2C15,7.6,7.3,8.5,7.7,8.6	C8,8.7,15.9,8.3,20.2,9.3c2.2,0.5,2.4,0.5,5.7,1.6S31.2,11.9,31.3,11.6z M73,9.2c0.4-0.1,3.5-1.6,8.4-2.6c4.9-1.1,8.9-0.5,8.9-0.8	c0-0.3-1-0.9-6.2-0.3S72.6,9.3,73,9.2z M71.6,6.7C71.8,6.8,75,5.4,77.3,5c2.3-0.3,1.9-0.5,1.9-0.6c0-0.1-1.1-0.2-2.7,0.2	C74.8,5.1,71.4,6.6,71.6,6.7z M93.6,4.4c0.1,0.2,3.5,0.8,5.6,1.8c2.1,1,1.8,0.6,1.9,0.5c0.1-0.1-0.8-0.8-2.4-1.3	C97.1,4.8,93.5,4.2,93.6,4.4z M65.4,11.1c-0.1,0.3,0.3,0.5,1.9-0.2s2.6-1.3,2.2-1.2s-0.9,0.4-2.5,0.8C65.3,10.9,65.5,10.8,65.4,11.1	z M34.5,12.4c-0.2,0,2.1,0.8,3.3,0.9c1.2,0.1,2,0.1,2-0.2c0-0.3-0.1-0.5-1.6-0.4C36.6,12.8,34.7,12.4,34.5,12.4z M152.2,21.1	c-0.1,0.1-2.4-0.3-7.5-0.3c-5,0-13.6-2.4-17.2-3.5c-3.6-1.1,10,3.9,16.5,4.1C150.5,21.6,152.3,21,152.2,21.1z">
      </path>
      <path fill="var(--sala-neutral-white)"
        d="M269.6,18c-0.1-0.1-4.6,0.3-7.2,0c-7.3-0.7-17-3.2-16.6-2.9c0.4,0.3,13.7,3.1,17,3.3	C267.7,18.8,269.7,18,269.6,18z">
      </path>
      <path fill="var(--sala-neutral-white)"
        d="M227.4,9.8c-0.2-0.1-4.5-1-9.5-1.2c-5-0.2-12.7,0.6-12.3,0.5c0.3-0.1,5.9-1.8,13.3-1.2	S227.6,9.9,227.4,9.8z">
      </path>
      <path fill="var(--sala-neutral-white)"
        d="M204.5,13.4c-0.1-0.1,2-1,3.2-1.1c1.2-0.1,2,0,2,0.3c0,0.3-0.1,0.5-1.6,0.4	C206.4,12.9,204.6,13.5,204.5,13.4z">
      </path>
      <path fill="var(--sala-neutral-white)"
        d="M201,10.6c0-0.1-4.4,1.2-6.3,2.2c-1.9,0.9-6.2,3.1-6.1,3.1c0.1,0.1,4.2-1.6,6.3-2.6	S201,10.7,201,10.6z"></path>
      <path fill="var(--sala-neutral-white)"
        d="M154.5,26.7c-0.1-0.1-4.6,0.3-7.2,0c-7.3-0.7-17-3.2-16.6-2.9c0.4,0.3,13.7,3.1,17,3.3	C152.6,27.5,154.6,26.8,154.5,26.7z">
      </path>
      <path fill="var(--sala-neutral-white)"
        d="M41.9,19.3c0,0,1.2-0.3,2.9-0.1c1.7,0.2,5.8,0.9,8.2,0.7c4.2-0.4,7.4-2.7,7-2.6	c-0.4,0-4.3,2.2-8.6,1.9c-1.8-0.1-5.1-0.5-6.7-0.4S41.9,19.3,41.9,19.3z">
      </path>
      <path fill="var(--sala-neutral-white)"
        d="M75.5,12.6c0.2,0.1,2-0.8,4.3-1.1c2.3-0.2,2.1-0.3,2.1-0.5c0-0.1-1.8-0.4-3.4,0	C76.9,11.5,75.3,12.5,75.5,12.6z">
      </path>
      <path fill="var(--sala-neutral-white)"
        d="M15.6,13.2c0-0.1,4.3,0,6.7,0.5c2.4,0.5,5,1.9,5,2c0,0.1-2.7-0.8-5.1-1.4	C19.9,13.7,15.7,13.3,15.6,13.2z">
      </path>
    </svg>
  </div>
</section>
<section class="section spdt">
  <div class="container">
<div class="heading align-center">
  <h2 class="heading-title size-l text-center text-wrap">
    <span class="color-navy no-underline">mavi</span>Charge: Şarj İstasyonlarınızı Yönetirken,
    <br>
    Kullanıcılarınıza Premium bir Mobil Deneyim Sunun !
  </h2>
</div>

    <div class="block-icon-box layout-08">
      <div class="row text-center">
        <div class="heading-desc">
          <span class="color-navy no-underline">mavi</span>Charge, elektrikli araç şarj istasyonları için özel olarak
          tasarlanmış bir SaaS çözümüdür. Bu platform şarj istasyonlarınızı kolayca
          entegre edip yönetmeniz için geniş kapsamlı bir yönetim paneli sağlamanın yanı sıra, elektrikli araç
          kullanıcıları için işletmenize özel bir mobil uygulama hizmeti de sunmaktadır.
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section spdt" style="margin-top: 60px;">
  <div class="container">
    <div class="row flex-align-c">
      <div class="col-lg-6">
        <div class="heading mb32">
          <div class="heading-sub">maviCharge</div>
          <h2 class="heading-title size-xl"><span class="color-navy no-underline">mavi</span>Charge Yönetim Panelini
            Keşfedin</h2>
          <div class="heading-desc">Sizlere sunmuş olduğumuz yönetim panelinin premium özelliklerini keşfedin.</div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="images layout-02 popup-wrapper">
          <div class="inner wow animate__fadeInDown">
            <img src="/public/images/video.svg" alt="Banner">
            <a href="#" data-popup="popup-video" class="icon-popup"><img class="img25" src="/public/images/hf-02.png"
                alt="Image"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section spdt">
  <div class="container">
    <div class="row flex-align-c">
      <div class="col-lg-6 lg-order-2 text-center"> <!-- text-center sınıfı eklendi -->
        <div class="pdr100 pdl100 lg-mt32">
          <div class="heading mb24">
            <h2 class="heading-title size-l">OCPP Şarj İstasyonu Bağlantı ve Yönetimi</h2>
            <div class="heading-desc">OCPP protokolüne uyumlu şarj istasyonlarınızı kolayca sisteminize bağlayın ve tüm istasyonlarınızı kolayca takip edin.</div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 lg-order-1">
        <img src="/public/images/services/blur_1.jpg" alt="Banner" id="service-image">
      </div>
    </div>
  </div>
</section>

<section class="section spdt">
  <div class="container">
    <div class="row flex-align-c">
      <div class="col-lg-6 text-center"> <!-- text-center sınıfı eklendi -->
        <img class="br8 wow animate__fadeInRight" src="/public/images/services/blur_1.jpg" alt="Image" id="service-image">
      </div>
      <div class="col-lg-6">
        <div class="pdl100 pdr100 lg-mt32">
          <div class="heading mb24">
            <h2 class="heading-title size-l">Etkin İletişim ve Veri Yönetimi</h2>
            <div class="heading-desc">Şarj istasyonlarınızdan, gelen ve giden tüm veriler saklanır ve işlenir. En güncel bilgilere anında erişin.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section spdt">
  <div class="container">
    <div class="row flex-align-c">
      <div class="col-lg-6 lg-order-2 text-center"> <!-- text-center sınıfı eklendi -->
        <div class="pdr100 pdl100 lg-mt32">
          <div class="heading mb24">
            <h2 class="heading-title size-l">Kapsamlı Yönetim ve Veri Yönetimi</h2>
            <div class="heading-desc">İstasyonlarınıza dair her şeyi yönetim paneli üzerinden kolayca yönetebilirsiniz. İstasyon ekleme, çıkarma, durum kontrolü gibi birçok özellik parmaklarınızın ucunda.</div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 lg-order-1">
        <img src="/public/images/services/blur_1.jpg" alt="Banner" id="service-image">
      </div>
    </div>
  </div>
</section>

<section class="section spdt">
  <div class="container">
    <div class="row flex-align-c">
      <div class="col-lg-6 text-center"> <!-- text-center sınıfı eklendi -->
        <img class="br8 wow animate__fadeInRight" src="/public/images/services/map.png" alt="Image" id="service-image">
      </div>
      <div class="col-lg-6">
        <div class="pdl100 pdr100 lg-mt32">
          <div class="heading mb24">
            <h2 class="heading-title size-l">Harita Üzerinde İstasyon Görüntüleme</h2>
            <div class="heading-desc">Tüm şarj istasyonlarınızı coğrafi olarak harita üzerinde görüntüleyin. Lokasyon bazlı analizler yapın.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section spdt">
  <div class="container">
    <div class="row flex-align-c">
      <div class="col-lg-6 lg-order-2">
        <div class="pdr100 pdl100 lg-mt32">
          <div class="heading mb24">
            <h2 class="heading-title size-l">Müşteri Yönetimi</h2>
            <div class="heading-desc">Müşteri bilgilerini detaylı olarak görüntüleyin. Kullanıcı hareketlerini takip
              edin ve işetmeniz için en değerli verilere erişin.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 lg-order-1">
        <img src="/public/images/services/blur_4.jpg" alt="Banner" id="service-image" id="service-image">
      </div>
    </div>
  </div>
</section>
<section class="section spdt">
  <div class="container">
    <div class="row flex-align-c">
      <div class="col-lg-6">
        <img class="br8 wow animate__fadeInRight" src="/public/images/services/6.png" alt="Image" id="service-image">
      </div>
      <div class="col-lg-6">
        <div class="pdl100 pdr100 lg-mt32">
          <div class="heading mb24">
            <h2 class="heading-title size-l">Gruplandırma ve Fiyatlandırma</h2>
            <div class="heading-desc">Şarj istasyonlarınızı gruplara ayırarak, grup özelinde fiyatlandırmalar yapın.
              Farklı kampanya ve promosyonları kolaylıkla yönetin.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section spdt">
  <div class="container">
    <div class="row flex-align-c">
      <div class="col-lg-6 lg-order-2">
        <div class="pdr100 pdl100 lg-mt32">
          <div class="heading mb24">
            <h2 class="heading-title size-l">Anlık ve Geçmiş Şarj Bilgisi</h2>
            <div class="heading-desc">Gerçekleşen tüm şarj işlemlerini anlık olarak takip edin. Geçmiş verilere ulaşarak
              tarih, kullanıcı, fiyat gibi filtrelerle detaylı analiz yapın.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 lg-order-1">
        <img src="/public/images/services/blur_3.jpg" alt="Banner" id="service-image" id="service-image">
      </div>
    </div>
  </div>
</section>
<section class="section mt-4">
  <div class="container">
    <div class="row flex-align-c">
      <div class="col-lg-6">
        <div class="heading mb32">
          <div class="heading-sub">maviCharge</div>
          <h2 class="heading-title size-xl"><span class="color-navy no-underline">mavi</span>Charge Mobil Uygulamasını
            Keşfedin</h2>
          <div class="heading-desc">Sizlere sunmuş olduğumuz mobil uygulamanın premium özelliklerini keşfedin.</div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="images layout-02 popup-wrapper">
          <div class="inner wow animate__fadeInDown">
            <img src="/public/images/video.svg" alt="Banner">
            <a href="#" data-popup="popup-video" class="icon-popup"><img class="img25" src="/public/images/hf-02.png"
                alt="Image"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section spdt">
  <div class="container">
    <div class="row flex-align-c">
      <div class="col-lg-6 lg-order-2 text-center"> <!-- text-center sınıfı eklendi -->
        <div class="pdr50 pdl50 lg-mt32">
          <div class="heading mb24">
            <h2 class="heading-title size-l">Harita Üzerinde Şarj İstasyonlarını Görüntüleme</h2>
            <div class="heading-desc">Kullanıcılar, harita üzerinden şarj istasyonlarına kolayca erişim sağlar.</div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 lg-order-1 text-center"> <!-- text-center sınıfı eklendi -->
        <img src="/public/images/services/mobile-1.png" alt="Banner" id="service-image" width="250" height="250">
      </div>
    </div>
  </div>
</section>

<section class="section spdt">
  <div class="container">
    <div class="row flex-align-c">
      <div class="col-lg-6 text-center"> <!-- text-center sınıfı eklendi -->
        <img class="br8 wow animate__fadeInRight" src="/public/images/services/mobile-1.png" alt="Image" width="250" height="250" id="service-image">
      </div>
      <div class="col-lg-6 text-center"> <!-- text-center sınıfı eklendi -->
        <div class="pdl50 pdr50 lg-mt32">
          <div class="heading mb24">
            <h2 class="heading-title size-l">Filtreleme Özelliği</h2>
            <div class="heading-desc">Kullanıcılar ihtiyaçlarına göre AC veya DC şarj istasyonlarını filtreler. İstediği özellikteki istasyonları hızlıca bulur.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section spdt">
  <div class="container">
    <div class="row flex-align-c">
      <div class="col-lg-6 lg-order-2 text-center"> <!-- text-center sınıfı eklendi -->
        <div class="pdr50 pdl50 lg-mt32">
          <div class="heading mb24">
            <h2 class="heading-title size-l">Müsaitlik Durumu Kontrolü</h2>
            <div class="heading-desc">Kullanıcılar istasyona tıklayarak o anki müsaitlik durumuna göz atar. Boş veya dolu istasyonları anında belirler.</div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 lg-order-1 text-center"> <!-- text-center sınıfı eklendi -->
        <img src="/public/images/services/mobile-2.png" alt="Banner" id="service-image" width="250" height="250">
      </div>
    </div>
  </div>
</section>

<section class="section spdt">
  <div class="container">
    <div class="row flex-align-c">
      <div class="col-lg-6 text-center"> <!-- text-center sınıfı eklendi -->
        <img class="br8 wow animate__fadeInRight" src="/public/images/services/mobile-3.png" alt="Image" width="250" height="250" id="service-image">
      </div>
      <div class="col-lg-6 text-center"> <!-- text-center sınıfı eklendi -->
        <div class="pdl50 pdr50 lg-mt32">
          <div class="heading mb24">
            <h2 class="heading-title size-l">Şarj Başlatma</h2>
            <div class="heading-desc">Kullanıcılar, konnektördeki aracına bağlandığında, mobil uygulama üzerinden şarj işlemine kolayca başlayabilir.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section spdt">
  <div class="container">
    <div class="row flex-align-c">
      <div class="col-lg-6 lg-order-2 text-center"> <!-- text-center sınıfı eklendi -->
        <div class="pdr50 pdl50 lg-mt32">
          <div class="heading mb24">
            <h2 class="heading-title size-l">Ödeme</h2>
            <div class="heading-desc">Kullanıcılar işletmenizin iş kurallarına göre gerek şarjdan önce gerek işlemi tamamlandığında uygulama üzerinden hızlı ve güvenli bir şekilde ödeme yapar.</div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 lg-order-1 text-center"> <!-- text-center sınıfı eklendi -->
        <img src="/public/images/services/mobile-4.png" alt="Banner" id="service-image" width="250" height="250">
      </div>
    </div>
  </div>
</section>

<section class="section spdt">
  <div class="container">
    <div class="row flex-align-c">
      <div class="col-lg-6 text-center"> <!-- text-center sınıfı eklendi -->
        <img class="br8 wow animate__fadeInRight" src="/public/images/services/mobile-4.png" alt="Image" width="250" height="250" id="service-image">
      </div>
      <div class="col-lg-6 text-center"> <!-- text-center sınıfı eklendi -->
        <div class="pdl50 pdr50 lg-mt32">
          <div class="heading mb24">
            <h2 class="heading-title size-l">Cüzdan Özelliği</h2>
            <div class="heading-desc">Kullanıcılar uygulama içi cüzdanlarına ödeme yaparak, şarj süreçlerini kolaylaştırır.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section spdt">
  <div class="container">
    <div class="row flex-align-c">
      <div class="col-lg-6 lg-order-2 text-center"> <!-- text-center sınıfı eklendi -->
        <div class="pdr50 pdl50 lg-mt32">
          <div class="heading mb24">
            <h2 class="heading-title size-l">Şarj Geçmişi</h2>
            <div class="heading-desc">Kullanıcılar geçmiş şarj operasyonlarını tarihsel sıralamayla harita üzerinde görüntüler ve işlemin gerçekleştiği lokasyonu harita üzerinde görür.</div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 lg-order-1 text-center"> <!-- text-center sınıfı eklendi -->
        <img src="/public/images/services/mobile-5.png" alt="Banner" id="service-image" width="250" height="250">
      </div>
    </div>
  </div>
</section>


<section class="section-banner background-navy layout-04 mt-5">
  <div class="container">
    <div class="inner">
      <div class="row">
        <div class="col-lg-11">
          <div class="banner-left align-left spdtb pdl80 lg-pdl30 lg-pdr30">
            <div class="heading heading-alway-white">
              <h2 class="heading-title size-xl">Gelişmeleri Takip Et</h2>
              <div class="heading-desc">Ürünlerle ilgili gelişmelerden haberdar olmak için abone olun.</div>
            </div>
            <form action="#" class="newsletter">
              <div class="field-input">
                <input type="email" name="email" value="" placeholder="Enter your email">
              </div>
              <div class="field-submit">
                <input type="submit" name="submit" value="Abone Ol">
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-1">
          <div class="banner-right layout-02 lg-hidden">
            <img src="assets/images/hr-15.png" alt="Banner">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const zooming = new Zooming({})
  const img = document.querySelector('#service-image')
  zooming.listen('#service-image')
</script>