<!-- Hero area stat -->
<section class="hero__area hero__hight d-flex align-items-center include__bg p-relative"
   data-background="/public/img/shape/c.png">
   <div class="hero__cercle">
      <img src="/public/img/shape/cercle.png" alt="image not found">
   </div>
   <div class="container">
      <div class="hero__main-wrapper">
         <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
               <div class="hero__content-wrapper">
                  <div class="hero__content mb-60">
                     <span class="wow fadeInUp" data-wow-delay=".2s">MaviCharge'a Hoş Geldiniz</span>
                     <h2 class="wow fadeInUp" data-wow-delay=".4s">Şarj istasyonlarına ulaşmanın premium yolu.</h2>
                  </div>
                  <div class="hero__btn-link wow fadeInUp" data-wow-delay=".8s">
                     <a class="solid__btn" href="/contact">İletişime Geç</a>
                     <a class="hero__link popup-video"> <i class="fa-solid fa-play"></i></a>
                  </div>
               </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
               <div class="hero__thumb-wrapper-2 mb-60">
                  <div class="hero__thumb-2 w-img">
                     <img src="/public/img/header.png" alt="image not found">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Hero area end -->

<!-- About area start -->
<div class="about__area grey-bg z-index-11 p-relative pt-120 pb-60">
   <div class="about__shape-1">
      <img src="/public/img/shape/about-shape-1.png" alt="image not found">
   </div>
   <div class="about__shape-2">
      <img src="/public/img/shape/about-shape-2.png" alt="image not found">
   </div>
   <div class="about__shape-3">
      <img src="/public/img/shape/rectangle-3.png" alt="image not found">
   </div>
   <div class="about__shape-4">
      <img src="/public/img/shape/rectangle-4.png" alt="image not found">
   </div>
   <div class="container">
      <div class="row align-items-center wow fadeInUp" data-wow-delay=".3s">
         <div class="col-xl-6 col-lg-6">
            <div class="about__thumb-wrapper mb-60">
               <div class="about__thumb w-img">
                  <img src="/public/img/about/about-thumb.png" alt="image not found">
               </div>
            </div>
         </div>
         <div class="col-xl-6 col-lg-6">
            <div class="about__content-wapper mb-60">
               <div class="section__title-wrapper mb-40">
                  <span class="section__subtitle-2">
                     <span>Hizmetlerimiz</span>
                  </span>
                  <h2 class="section__title-2">
                     Yönetim Paneli
                  </h2>
               </div>
               <p>MaviCharge, elektrikli araç şarj istasyonları için özel olarak tasarlanmış bir SaaS çözümüdür. Bu
                  platform, şarj istasyonlarınızı kolayca entegre edip yönetmeniz için geniş kapsamlı bir yönetim paneli
                  sağlamanın yanı sıra, elektrikli araç kullanıcıları için işletmenize özel bir mobil uygulama hizmeti
                  de sunmaktadır. </p>
               <div class="about__features-box">
                  <div class="about__features-item">
                     <div class="about__features-icon">
                        <i class="fa-solid fa-check"></i>
                     </div>
                     <div class="about__features-content">
                        <p>OCPP Şarj İstasyonlarına Bağlantı ve Yönetim</p>
                        <p>– OCPP protokolüne uyumlu şarj istasyonlarınızı kolayca sisteminize bağlayın ve tüm
                           istasyonlarınızı tek bir merkezden yönetin.</p>
                     </div>
                  </div>
                  <div class="about__features-item">
                     <div class="about__features-icon s-2">
                        <i class="fa-solid fa-check"></i>
                     </div>
                     <div class="about__features-content">
                        <p>Etkin İletişim ve Veri Yönetimi</p>
                        <p>– Şarj istasyonunuzdan gelen ve giden tüm veriler saklanır ve işlenir. En güncel bilgilere
                           anında erişin.</p>
                     </div>
                  </div>
                  <div class="about__features-item">
                     <div class="about__features-icon s-3">
                        <i class="fa-solid fa-check"></i>
                     </div>
                     <div class="about__features-content">
                        <p>Kapsamlı Yönetim</p>
                        <p>– İstasyonlarınıza dair herşeyi yönetim paneli üzerinden kolayca yönetebilirsiniz.
                           İstasyonlarınıza ekleme,çıkarma,durum kontrolü gibi birçok özellik
                           parmaklarınızın ucunda.</p>
                     </div>
                  </div>
                                    <div class="about__features-item">
                     <div class="about__features-content">
                        <a href="/admin" class="text-primary">Daha Fazlası İçin Tıklayın<i class="fas fa-chevron-right" style="margin-left: 20px;"></i> </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- About area end -->
<!-- About area start -->
<div class="about__area grey-bg z-index-11 p-relative pt-120 pb-60">
   <div class="about__shape-1">
      <img src="/public/img/shape/about-shape-1.png" alt="image not found">
   </div>
   <div class="about__shape-2">
      <img src="/public/img/shape/about-shape-2.png" alt="image not found">
   </div>
   <div class="about__shape-3">
      <img src="/public/img/shape/rectangle-3.png" alt="image not found">
   </div>
   <div class="about__shape-4">
      <img src="/public/img/shape/rectangle-4.png" alt="image not found">
   </div>
   <div class="container">
      <div class="row align-items-center wow fadeInUp" data-wow-delay=".3s">
         <div class="col-xl-6 col-lg-6">
            <div class="about__content-wapper mb-60">
               <div class="section__title-wrapper mb-40">
                  <span class="section__subtitle-2">
                     <span>Hizmetlerimiz</span>
                  </span>
                  <h2 class="section__title-2">
                     Mobil Uygulama
                  </h2>
               </div>
               <p>MaviCharge, elektrikli araç şarj istasyonları için özel olarak tasarlanmış bir SaaS çözümüdür. Bu
                  platform, şarj istasyonlarınızı kolayca entegre edip yönetmeniz için geniş kapsamlı bir yönetim paneli
                  sağlamanın yanı sıra, elektrikli araç kullanıcıları için işletmenize özel bir mobil uygulama hizmeti
                  de sunmaktadır. </p>
               <div class="about__features-box">
                  <div class="about__features-item">
                     <div class="about__features-icon">
                        <i class="fa-solid fa-check"></i>
                     </div>
                     <div class="about__features-content">
                        <p>Harita Üzerinde Şarj İstasyonlarını Görüntüleme</p>
                        <p>– Kullanıcıları harita üzerinden şarj istasyonlarına kolayca erişim sağlar.</p>
                     </div>
                  </div>
                  <div class="about__features-item">
                     <div class="about__features-icon s-2">
                        <i class="fa-solid fa-check"></i>
                     </div>
                     <div class="about__features-content">
                        <p>Filtreleme Özelliği</p>
                        <p>– Kullanıcılar ihtiyaçlarına göre AC veya DC şarj istasyonlarını filtreler. İstediği özellikteki istasyonları hızlıca bulur.</p>
                     </div>
                  </div>
                  <div class="about__features-item">
                     <div class="about__features-icon s-3">
                        <i class="fa-solid fa-check"></i>
                     </div>
                     <div class="about__features-content">
                        <p>Müsaitlik Durum Kontrolü</p>
                        <p>– Kullanıcılar istasyona tıklayarak o anki müsaitlik durumuna göz atar. Boş veya dolu istasyonları anında belirler.</p>
                     </div>
                  </div>
                  <div class="about__features-item">
                     <div class="about__features-content">
                        <a href="/mobile" class="text-primary">Daha Fazlası İçin Tıklayın<i class="fas fa-chevron-right" style="margin-left: 20px;"></i> </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xl-6 col-lg-6">
            <div class="about__thumb-wrapper mb-60">
               <div class="about__thumb w-img">
                  <img src="/public/img/header-2.svg" alt="image not found">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- About area end -->

<!-- Cta area start -->
<div class="cta__area p-relative pt-120 pb-6">
   <div class="cta__shape-1"></div>
   <div class="cta__shape-2"></div>
   <div class="container">
      <div class="cta__inner navy-bg include__bg" data-background="/public/img/shape/cta-shape.png">
         <div class="row align-items-center">
            <div class="col-xl-5">
               <div class="section__title-wrapper mb-60">
                  <h2 class="section__title-2 s-2">
                     Abone Ol Gelişmelerden Haberdar Ol
                  </h2>
               </div>
            </div>
            <div class="col-xl-7">
               <div class="cta__search mb-60">
                  <form action="#">
                     <div class="cta__search-input">
                        <input type="text" placeholder="Mail Adresi">
                        <button type="submit">Abone Ol<i class="fa-solid fa-paper-plane"></i></button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Cta area end -->