<!-- Breadcrumb area stat -->
<div class="breadcrumb__area">
    <img class="breadcrumb__shape-1" src="/public/img/shape/breadcrum-1.png.png" alt="image not found">
    <img class="breadcrumb__shape-2" src="/public/img/shape/breadcrum-1.png.png" alt="image not found">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="breadcrumb__wrapper text-center">
                    <div class="breadcrumb__title">
                        <h2>Mobil Uygulama</h2>
                    </div>
                    <div class="breadcrumb__menu">
                        <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                            <ul class="trail-items">
                                <li class="trail-item trail-begin"><span><a href="/">Anasayfa</a></span></li>
                                <li class="trail-item trail-end"><span>Mobil Uygulama</span></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb area end -->
<!-- Boost area start -->
<div class="boost__area pb-25 mt-4">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-delay=".3s">
            <div class="col-xl-6 col-lg-6 mt-auto mb-auto">
                <div class="boost__content-wrapper mb-60">
                    <div class="section__title-wrapper mb-40">
                        <div class="section__subtitle-2">
                            <span>mavi</span>charge
                        </div>
                        <div class="section__title-2">
                            Harita Üzerinde Şarj İstasyonlarını Görüntüleme
                        </div>
                    </div>
                    <p class="mb-0">Kullanıcılar harita üzerinden şarj istasyonlarına kolayca erişim sağlar.</p>
                </div>
                <div class="boost__content-wrapper mb-60">
                    <div class="section__title-wrapper mb-40">
                        <div class="section__title-2">
                            Filtreleme Özelliği
                        </div>
                    </div>
                    <p class="mb-0">Kullanıcılar ihtiyaçlarına göre AC veya DC şarj istasyonlarını filtreler. İstediği
                        özellikteki istasyonları hızlıca bulur.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="boost__thumb-wrapper mb-60">
                    <div class="boost__thumb w-img p-relative">
                        <img src="/public/img/boost/mobile-1.png" alt="image not found" style="width: 400px;">
                        <div class="boost__shape-1"></div>
                    </div>
                    <div class="boost__shape-2">
                        <svg id="Group_27289" data-name="Group 27289" xmlns="http://www.w3.org/2000/svg" width="25.594"
                            height="19.655" viewBox="0 0 25.594 19.655">
                            <path id="Path_26014" data-name="Path 26014"
                                d="M321.713,46.082l-25.594,3.962,0,.008.163,1.6a23.645,23.645,0,0,0,7.662,14.089Z"
                                transform="translate(-296.119 -46.082)" fill="#f8d458"></path>
                        </svg>
                    </div>
                    <div class="boost__shape-3"></div>
                    <div class="boost__shape-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="44.495" height="44.279"
                            viewBox="0 0 44.495 44.279">
                            <path id="Path_26017" data-name="Path 26017"
                                d="M437.625,75.1a11.863,11.863,0,1,1-13.383,10.112l-10.288-1.433a22.245,22.245,0,1,0,25.1-18.964Z"
                                transform="translate(-413.738 -64.809)" fill="#425fec"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Boost area end -->
<!-- Boost area start -->
<div class="boost__area pb-25 mt-4">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-delay=".3s">
            <div class="col-xl-6 col-lg-6">
                <div class="boost__thumb-wrapper mb-60">
                    <div class="boost__thumb w-img p-relative">
                        <img src="/public/img/boost/mobile-2.png" alt="image not found" style="width: 400px;">
                        <div class="boost__shape-1"></div>
                    </div>
                    <div class="boost__shape-2">
                        <svg id="Group_27289" data-name="Group 27289" xmlns="http://www.w3.org/2000/svg" width="25.594"
                            height="19.655" viewBox="0 0 25.594 19.655">
                            <path id="Path_26014" data-name="Path 26014"
                                d="M321.713,46.082l-25.594,3.962,0,.008.163,1.6a23.645,23.645,0,0,0,7.662,14.089Z"
                                transform="translate(-296.119 -46.082)" fill="#f8d458"></path>
                        </svg>
                    </div>
                    <div class="boost__shape-3"></div>
                    <div class="boost__shape-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="44.495" height="44.279"
                            viewBox="0 0 44.495 44.279">
                            <path id="Path_26017" data-name="Path 26017"
                                d="M437.625,75.1a11.863,11.863,0,1,1-13.383,10.112l-10.288-1.433a22.245,22.245,0,1,0,25.1-18.964Z"
                                transform="translate(-413.738 -64.809)" fill="#425fec"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mt-auto mb-auto">
                <div class="boost__content-wrapper mb-60">
                    <div class="section__title-wrapper mb-40">
                        <div class="section__title-2">
                            Müsaitlik Durum Kontrolü
                        </div>
                    </div>
                    <p class="mb-0">Kullanıcılar istasona tıklayarak o anki müsaitlik durumuna göz atar. Boş veya dolu
                        istasyonları anında belirler.</p>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Boost area end -->
<!-- Boost area start -->
<div class="boost__area pb-25 mt-4">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-delay=".3s">
            <div class="col-xl-6 col-lg-6 mt-auto mb-auto">
                <div class="boost__content-wrapper mb-60">
                    <div class="section__title-wrapper mb-40">
                        <div class="section__title-2">
                            Şarj Başlatma
                        </div>
                    </div>
                    <p class="mb-0">Kullanıcılar konnektörü aracına bağladığında mobil uygulama üzerinden şarj
                        işlemlerine kolayca başlayabilirler.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="boost__thumb-wrapper mb-60">
                    <div class="boost__thumb w-img p-relative">
                        <img src="/public/img/boost/mobile-3.png" alt="image not found" style="width: 400px;">
                        <div class="boost__shape-1"></div>
                    </div>
                    <div class="boost__shape-2">
                        <svg id="Group_27289" data-name="Group 27289" xmlns="http://www.w3.org/2000/svg" width="25.594"
                            height="19.655" viewBox="0 0 25.594 19.655">
                            <path id="Path_26014" data-name="Path 26014"
                                d="M321.713,46.082l-25.594,3.962,0,.008.163,1.6a23.645,23.645,0,0,0,7.662,14.089Z"
                                transform="translate(-296.119 -46.082)" fill="#f8d458"></path>
                        </svg>
                    </div>
                    <div class="boost__shape-3"></div>
                    <div class="boost__shape-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="44.495" height="44.279"
                            viewBox="0 0 44.495 44.279">
                            <path id="Path_26017" data-name="Path 26017"
                                d="M437.625,75.1a11.863,11.863,0,1,1-13.383,10.112l-10.288-1.433a22.245,22.245,0,1,0,25.1-18.964Z"
                                transform="translate(-413.738 -64.809)" fill="#425fec"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Boost area end -->
<!-- Boost area start -->
<div class="boost__area pb-25 mt-4">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-delay=".3s">
            <div class="col-xl-6 col-lg-6">
                <div class="boost__thumb-wrapper mb-60">
                    <div class="boost__thumb w-img p-relative">
                        <img src="/public/img/boost/mobile-4.png" alt="image not found" style="width: 400px;">
                        <div class="boost__shape-1"></div>
                    </div>
                    <div class="boost__shape-2">
                        <svg id="Group_27289" data-name="Group 27289" xmlns="http://www.w3.org/2000/svg" width="25.594"
                            height="19.655" viewBox="0 0 25.594 19.655">
                            <path id="Path_26014" data-name="Path 26014"
                                d="M321.713,46.082l-25.594,3.962,0,.008.163,1.6a23.645,23.645,0,0,0,7.662,14.089Z"
                                transform="translate(-296.119 -46.082)" fill="#f8d458"></path>
                        </svg>
                    </div>
                    <div class="boost__shape-3"></div>
                    <div class="boost__shape-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="44.495" height="44.279"
                            viewBox="0 0 44.495 44.279">
                            <path id="Path_26017" data-name="Path 26017"
                                d="M437.625,75.1a11.863,11.863,0,1,1-13.383,10.112l-10.288-1.433a22.245,22.245,0,1,0,25.1-18.964Z"
                                transform="translate(-413.738 -64.809)" fill="#425fec"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mt-auto mb-auto">
                <div class="boost__content-wrapper mb-60">
                    <div class="section__title-wrapper mb-40">
                        <div class="section__title-2">
                            Ödeme
                        </div>
                    </div>
                    <p class="mb-0">Kullanıcılar işletmenizin iş kurallarına göre gerek şarjdan önce gerek şarj işlemi tamamlandığında uygulama üzerinden hızlı ve güvenli 
                        bir şekilde ödeme yapar.
                    </p>
                </div>

            </div>
                        <div class="col-xl-6 col-lg-6 mt-auto mb-auto">
                <div class="boost__content-wrapper mb-60">
                    <div class="section__title-wrapper mb-40">
                        <div class="section__title-2">
                            Cüzdan Özelliği
                        </div>
                    </div>
                    <p class="mb-0">Kullanıcılar uygulama içi cüzdanlarına ödeme yaparak şarj süreçlerini kolaylaştırır.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Boost area end -->
<!-- Boost area start -->
<div class="boost__area pb-25 mt-4">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-delay=".3s">
            <div class="col-xl-6 col-lg-6 mt-auto mb-auto">
                <div class="boost__content-wrapper mb-60">
                    <div class="section__title-wrapper mb-40">
                        <div class="section__title-2">
                            Şarj Geçmişi
                        </div>
                    </div>
                    <p class="mb-0">Kullanıcılar geçmiş şarj operasyonlarını tarihsel sıralamayla haritada görüntüler ve işlemin gerçekleştiği lokasyonu harita üzerinde görür</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="boost__thumb-wrapper mb-60">
                    <div class="boost__thumb w-img p-relative">
                        <img src="/public/img/boost/mobile-5.png" alt="image not found" style="width: 400px;">
                        <div class="boost__shape-1"></div>
                    </div>
                    <div class="boost__shape-2">
                        <svg id="Group_27289" data-name="Group 27289" xmlns="http://www.w3.org/2000/svg" width="25.594"
                            height="19.655" viewBox="0 0 25.594 19.655">
                            <path id="Path_26014" data-name="Path 26014"
                                d="M321.713,46.082l-25.594,3.962,0,.008.163,1.6a23.645,23.645,0,0,0,7.662,14.089Z"
                                transform="translate(-296.119 -46.082)" fill="#f8d458"></path>
                        </svg>
                    </div>
                    <div class="boost__shape-3"></div>
                    <div class="boost__shape-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="44.495" height="44.279"
                            viewBox="0 0 44.495 44.279">
                            <path id="Path_26017" data-name="Path 26017"
                                d="M437.625,75.1a11.863,11.863,0,1,1-13.383,10.112l-10.288-1.433a22.245,22.245,0,1,0,25.1-18.964Z"
                                transform="translate(-413.738 -64.809)" fill="#425fec"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Boost area end -->
<!-- Cta area start -->
<div class="cta__area pb-120">
    <div class="container">
        <div class="cta__main-wrappper">
            <div class="row wow fadeInUp" data-wow-delay=".3s">
                <div class="col-xl-12">
                    <div class="cta__content-box text-center">
                        <div class="cta__icon">
                            <img src="/public/img/svg/cta.svg" alt="">
                        </div>
                        <div class="cta__title mb-60">
                            Hemen Abone Olun ve Gelişmelerden Haberdar Olun
                        </div>
                        <div class="cta__filter">
                            <div class="cta__search-input">
                                <input type="text" placeholder="Mail Adresi">
                                <button type="submit">Abone Ol<i class="fa-solid fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cta area end -->