            <main id="main" class="site-main">
                <div class="site-content pt0 pb0">
                    <section class="section background-grey opt120">
                        <div class="container h100">
                            <div class="row flex-align-c h100">
                                <div class="col-lg-6">
                                    <div class="heading mg0 pdr80">
                                        <div class="heading-sub">Neler Yapıyoruz</div>
                                        <h2 class="heading-title size-xl">Hizmetlerimiz</h2>
                                        <div class="button-wrap mt32">
                                            <a href="/contact" class="button fullfield" title="Get in touch">İletişim</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="lg-mt32 align-center">
                                        <img src="/public/images/banner-image-05.png" alt="Banner">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section spdt">
                        <div class="container">
                            <div class="heading align-center">
                                <div class="heading-sub color-navy">Servislerimiz</div>
                                <h2 class="heading-title size-l">Premium Hizmetlerimiz</h2>
                            </div>
                            <div class="block-icon-box layout-03">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="icon-box p48">
                                            <div class="inner">
                                                <div class="icon">
                                                    <img src="/public/images/icons/002-approved.png" alt="Icon">
                                                </div>
                                                <div class="content">
                                                    <h3 class="title">OCPP Şarj İstasyonu Bağlantı ve Yönetimi</h3>
                                                    <div class="desc">OCPP protokolüne uyumlu şarj istasyonlarınızı sistemimize bağlayın ve tek bir merkezden yönetin.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="icon-box p48">
                                            <div class="inner">
                                                <div class="icon">
                                                    <img src="/public/images/icons/003-services.png" alt="Icon">
                                                </div>
                                                <div class="content">
                                                    <h3 class="title">Etkin İletişim ve Veri Yönetimi</h3>
                                                    <div class="desc">Şarj istasyonunuzdan gelen ve giden tüm veriler saklanır ve işlenir. En güncel bilgilere anında erişin.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="icon-box p48">
                                            <div class="inner">
                                                <div class="icon">
                                                    <img src="/public/images/icons/005-business.png" alt="Icon">
                                                </div>
                                                <div class="content">
                                                    <h3 class="title">Gruplandırma ve Fiyatlandırma</h3>
                                                    <div class="desc">Şarj istasyonlarınızı gruplara ayırarak grup özelinde fiyatlandırma yapın.Farklı kampanya ve promosyonları kolaylıkları yönetin.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="icon-box p48">
                                            <div class="inner">
                                                <div class="icon">
                                                    <img src="/public/images/icons/006-business.png" alt="Icon">
                                                </div>
                                                <div class="content">
                                                    <h3 class="title">Kapsamlı Yönetim</h3>
                                                    <div class="desc">İstasyonlarınıza dair her şeyi yönetim paneli üzerinden kolayca yönetebilirsiniz.
                                                        İstasyon ekleme, çıkarma, durum kontrolü gibi birçok özellik parmaklarınızın ucunda.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="icon-box p48">
                                            <div class="inner">
                                                <div class="icon">
                                                    <img src="/public/images/icons/031-global.png" alt="Icon">
                                                </div>
                                                <div class="content">
                                                    <h3 class="title">Harita Üzerinde İstasyon Görüntüleme</h3>
                                                    <div class="desc">Tüm şarj istasyonlarınızı coğrafi olarak harita üzerinde görüntüleyin. Lokasyon bazlı analiz yapın.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="icon-box p48">
                                            <div class="inner">
                                                <div class="icon">
                                                    <img src="/public/images/icons/023-business-plan.png" alt="Icon">
                                                </div>
                                                <div class="content">
                                                    <h3 class="title">Müşteri Yönetimi"</h3>
                                                    <div class="desc">Müşteri bilgilerini detaylı olarak görüntüleyin. 
                                                        Kullanıcı hareketlerini takip edin ve işletmeniz için en değerli verilere erişin.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="icon-box p48">
                                            <div class="inner">
                                                <div class="icon">
                                                    <img src="/public/images/icons/049-development.png" alt="Icon">
                                                </div>
                                                <div class="content">
                                                    <h3 class="title">Anlık ve Geçmiş Şarj Bilgisi"</h3>
                                                    <div class="desc">Gerçekleşen tüm şarj işlemlerini anlık olarak takip edin.
                                                        Geçmiş verilere ulaşarak tarih, kullanıcı, fiyat gibi filtrelere detaylı analiz yapın.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="col-lg-6">
                                        <div class="icon-box p48">
                                            <div class="inner">
                                                <div class="icon">
                                                    <img src="/public/images/icons/047-global.png" alt="Icon">
                                                </div>
                                                <div class="content">
                                                    <h3 class="title">Mobil Uygulama ile Harita Üzerinde İstasyonları Görüntüleyin"</h3>
                                                    <div class="desc">Kullanıcılar harita üzerinde şarj istasyonlarına kolay erişim sağlar.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="icon-box p48">
                                            <div class="inner">
                                                <div class="icon">
                                                    <img src="/public/images/icons/041-network.png" alt="Icon">
                                                </div>
                                                <div class="content">
                                                    <h3 class="title">Mobil Uygulama ile Filtreleme Özelliği"</h3>
                                                    <div class="desc">Kullanıcılar ihtiyaçlarına göre AC veya DC şarj istasyonlarını 
                                                        filtreler. İstediği özellikteki istasyonları kolayca bulur.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="icon-box p48">
                                            <div class="inner">
                                                <div class="icon">
                                                    <img src="/public/images/icons/031-global.png" alt="Icon">
                                                </div>
                                                <div class="content">
                                                    <h3 class="title">Mobilde Müsait Durum Kontrolü"</h3>
                                                    <div class="desc">Kullanıcılar, istasyona tıklayarak, o anki müsaitlik durumuna göz atar.
                                                        Boş veya dolu iasyonları anında belirler.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="icon-box p48">
                                            <div class="inner">
                                                <div class="icon">
                                                    <img src="/public/images/icons/024-presentation.png" alt="Icon">
                                                </div>
                                                <div class="content">
                                                    <h3 class="title">Anlık ve Geçmiş Şarj Bilgisi"</h3>
                                                    <div class="desc">Kullanıcılar konnektörü aracına bağladığında mobil uygulama üzerinden 
                                                        şarj işlemine kolayca başlayabilir.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="icon-box p48">
                                            <div class="inner">
                                                <div class="icon">
                                                    <img src="/public/images/icons/014-finance.png" alt="Icon">
                                                </div>
                                                <div class="content">
                                                    <h3 class="title">Ödeme"</h3>
                                                    <div class="desc">Kullanıcılar, işletmenizin iş kurallarına göre gerek şarjdan önce erek şarj işlemi tamamlandığında,
                                                        uygulama üzerinden hızlı ve güvenli bir şekilde ödeme yapar.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                                                            <div class="col-lg-6">
                                            <div class="icon-box p48">
                                                <div class="inner">
                                                    <div class="icon">
                                                        <img src="/public/images/icons/014-finance.png" alt="Icon">
                                                    </div>
                                                    <div class="content">
                                                        <h3 class="title">Cüzdan Özelliği"</h3>
                                                        <div class="desc">Kullanıcılar uygulama içi cüzdanlarına ödeme yaparak şarj süreçlerini kolaylaştırır.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="icon-box p48">
                                                <div class="inner">
                                                    <div class="icon">
                                                        <img src="/public/images/icons/023-business-plan.png" alt="Icon">
                                                    </div>
                                                    <div class="content">
                                                        <h3 class="title">Şarj Geçmişi"</h3>
                                                        <div class="desc">Kullanıcılar geçmiş şarj operasyonlarını tarihsel sıralamayla harita görüntüler ve 
                                                            işlemin gerçekleştiği lokasyonu harita üzerinde görür.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section-banner background-navy layout-02" style="background-image: url('assets/images/banner-image-02.jpg');">
                        <div class="container">
                            <div class="inner">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="content devider-right">
                                            <div class="heading heading-alway-white">
                                                <div class="heading-sub">Hemen Bizimle Çalışın</div>
                                                <h2 class="heading-title">Bizimle çalışmak için iletişime geçin.!</h2>
                                            </div>
                                            <div class="button-wrap">
                                                <a href="/contact" class="button borderline-white">İletişim</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div><!-- SITE CONTENT -->
            </main>